* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  margin-top: 30px;
}

.left-navbar {
  font-size: 30px;
  margin-right: auto;
  color: #4C7BD5;
  font-weight: 600;
}

.left-navbar a {
    color: #4C7BD5;
  text-decoration: none;
}

.navbar {
  margin-left: auto;
}

.navbar ul {
  display: flex;
  gap: 25px;
}

.navbar ul li {
  list-style: none;
  padding: 8px 16px;
  background-color: #e7e5e4;
  border-radius: 8px;
  transition: 0.2s;
}

.navbar ul li:hover {
  filter: brightness(90%);
}

.navbar ul li a {
  color: #524848;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}

/* izone */

.members-about {
  width: 70%;
  margin: 0 auto;
}

.cointainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 33px;
  margin-top: 90px;
  margin-bottom: 90px;
}

.cointainer.children-focused > :not(:hover) {
  opacity: 0.6;
  transform: scale(0.9);
}

.members-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  border: none;
  border-radius: 5px;
  line-height: 1.5;
  padding-bottom: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.40);
  transition: 0.6s;
}

.members-list img {
  width: 300px;
  height: 200.9px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.members-list h1 {
  font-size: 18px;
  margin-top: 15px;
  margin-left: 12px;
}

.members-list p {
  font-size: 13.5px;
  line-height: 2;
  margin-left: 12px;
  margin-bottom: 12px;
}

.btn-about {
  background-color: #9FC1E4;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  margin-left: 12px;
  margin-top: auto;
  cursor: pointer;
  transition: 0.6s;
}

.btn-about a {
  color: white;
  text-decoration: none;
}

.btn-about:hover {
  opacity: 0.7;
}

.btn-about:active {
  opacity: 0.3;
  transition: 0.2s;
}

/*--------- ID's --------*/

#yena1 {
  object-position: top;
}

#yuri1 {
  object-position: top;
}

#hitomi1 {
  object-position: top;
}

/*--------- ID's Pantone --------*/

#eunbi-pantone:hover {
  color: #BEAFDF; 
  box-shadow: 0 0 25px 0 #BEAFDF;
}

#eunbi-pantone:hover .btn-about {
  background-color: #BEAFDF;
}

#sakura-pantone:hover {
  color: #f0b9dc;
  box-shadow: 0 0 25px 0 #f0b9dc;
}

#sakura-pantone:hover .btn-about {
  background-color: #f0b9dc;
}

#hyewon-pantone:hover {
  color: #EA6869;
  box-shadow: 0 0 25px 0 #ea686862;
}

#hyewon-pantone:hover .btn-about {
  background-color: #EA6869;
}

#yena-pantone:hover {
  color: #D1B000;
  box-shadow: 0 0 25px 0 #d1b20054;
}

#yena-pantone:hover .btn-about {
  background-color: #D1B000;
}

#chaeyeon-pantone:hover {
  color: #94E2E1;
  box-shadow: 0 0 25px 0 #94e2e1be;
}

#chaeyeon-pantone:hover .btn-about {
  background-color: #94E2E1;
}

#chaewon-pantone:hover {
  color: #9accb0;
  box-shadow: 0 0 25px 0 #9accb0f1;
}

#chaewon-pantone:hover .btn-about {
  background-color: #9accb0;
}

#minju-pantone:hover {
  color: black;
  box-shadow: 0 0 25px 0 #00000048;
}

#nako-pantone:hover {
  color: #B1D4EA;
  box-shadow: 0 0 25px 0 #B1D4EA;
}

#nako-pantone:hover .btn-about {
  background-color: #B1D4EA;
}

#hitomi-pantone:hover {
  color: #FAC1A7;
  box-shadow: 0 0 25px 0 #fac1a7b0;
}

#hitomi-pantone:hover .btn-about {
  background-color: #FAC1A7;
}

#yuri-pantone:hover {
  color: #FDA638;
  box-shadow: 0 0 25px 0 #fda8383b;
}

#yuri-pantone:hover .btn-about {
  background-color: #FDA638;
}

#yujin-pantone:hover {
  color: #4C7BD4;
  box-shadow: 0 0 25px 0 #4c7bd46b;
}

#yujin-pantone:hover .btn-about {
  background-color: #4C7BD4;
}

#wonyoung-pantone:hover {
  color: #EA4E8E;
  box-shadow: 0 0 25px 0 #ea4e8f67;
}

#wonyoung-pantone:hover .btn-about {
  background-color: #EA4E8E;
}

@media (max-width: 700px) {

  .left-navbar p {
    font-size: 20px;
  }

  .navbar ul {
    gap: 12px;
  }

  .navbar ul li {
    padding: 6px 14px;
  }

  .navbar ul li a {
    font-size: 14px;
  }

  .iz-video video {
    width: 325px;
  }

  #iz-heart {
    font-size: 20px;
  }

}

@media (max-width: 670px) {

  .left-navbar p {
    font-size: 18px;
  }

  .navbar ul {
    gap: 9px;
  }

  .navbar ul li {
    padding: 5px 12px;
  }

  .navbar ul li a {
    font-size: 13px;
  }

}